body {
  margin: 10px;
}

.topic {
  text-decoration: underline;
}

section {
  font-size: 1.5rem;
  background-color: #152b53;
  color: black;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
